/****************************************************************
 * Specify the global default colors, fonts, and properties
 ****************************************************************/
html {
  height: 100% !important;
  width: 100% !important;
}

body {
  margin: 0 !important;
  height: 100% !important;
  background-color: #e4eff6 !important;
  color: #3a5a78 !important;
  font-family: "Nunito Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !important;
}

a {
  text-decoration: none !important;
  cursor: pointer;
}

h3 {
  color: #3a5a78 !important;
  background-color: #fff !important;
  padding: 20px !important;
  text-transform: capitalize !important;
}

th, tr td {
  padding: 5px !important;
  margin: 5px !important;
}

i:hover {
  cursor: pointer;
}

small, .small {
  font-size: 90% !important;
}

/****************************************************************
 * Modify the global defaults in Bootstrap
 ****************************************************************/
.lead {
    color: #822b2f !important;
}

.card-body, .card-title {
  font-size: 1.5em;
}

.btn-secondary {
  background-color: #e6e5e5 !important;
  border-color: #dfdfdf !important;
}

.btn-secondary:hover {
  background-color: #000 !important;
  border-color: #000 !important;
  color: #fff;
}

.card {
  font-size: 10px;
}

.form-control-sm {
  font-size: 0.875rem !important;
}

.text-info {
  color: #4BBF73 !important;
}

.toast {
    max-width: 100% !important;
    margin-bottom: 15px;
}

.table {
  margin-bottom: 0 !important;
}

.custom-control-input:checked ~ .custom-control-label::before {
  background-color: #3a5a78;
}

.custom-switch {
  padding-bottom: 0.5rem;
}

.custom-control-label {
  cursor: pointer;
}

.form-check-input:checked {
  background-color: #3a5a78 !important;
  border-color: #3a5a78 !important;
}

/****************************************************************
 * Increase the default font size for the Dash Tabs
 * Change the color of the selected tab to The Hartford's orange
 ****************************************************************/
.tab {
  font-size: 17px !important;
}

.tab--selected {
  border-top: 2px solid #f7941f !important;
}

h3 .tab-title, h3 {
  background-color: #fff !important;
  padding: 20px !important;
  margin-bottom: 0 !important;
}

.rc-slider-track {
  background-color: #3a5a78 !important;
}

.rc-slider-handle, .rc-slider-dot-active {
  border-color: #3a5a78 !important;
}

.rc-slider-handle:active {
  box-shadow: 0 0 5px #3a5a78 !important;
}

/****************************************************************
 * Specify the defaults for the sidebar
 ****************************************************************/
#sidebar {
  padding: 2rem 1rem;
  background-color: #fff;
  text-align: left;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* IE 10+ */
}

/* Hide the scrollbar in the sidebar */
#sidebar::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* Chrome/Safari/Webkit */
}

/* Shrink the logo on a small screen */
#logo {
  display: block;
  width: 30%;
  height:auto;
}

#filter-subheading {
  font-size: 1rem;
}

#filters > div.viewport-bottom {
  margin-top: 25% !important;
}

#label-acct-size, #label-model-outcome {
  cursor: pointer;
}

/****************************************************************
 * Specify some properties and helper classes for the main page
 ****************************************************************/
#page-content {
  padding: 2rem 1rem;
}

.move-right {
  float: right !important;
}

.card {
  width: 100% !important;
}

/****************************************************************
 * For a medium (or bigger) size screen, adjust some properties 
 ****************************************************************/
@media (min-width: 48em) {
  /* Increase the logo size */
  #logo {
    width: 50%;
  }

  #sidebar {
    display: inline-block;
    vertical-align: top;
    height: 100%;
    width: 26%;
    overflow: auto;
    top: 0;
    left: 0;
    bottom: 0;
    position: fixed;
    transition: margin 0.3s ease-in-out, padding 0.3s ease-in-out;
  }

  /* set margins of the main content so that it doesn't overlap the sidebar */
  #page-content {
    display: inline-block;
    vertical-align: top;
    height: 100%;
    width: 74%;
    margin-left: 26%;
    overflow: auto;
    transition: margin-left 0.3s ease-in-out;
    position: relative;
  }
}